/* Common settings */
body {
    font-size: 62.5%;
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}

.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active,
#playlists table.display thead th,
#playback_panel_container  {
    cursor: pointer;
}

/* Control panel */
#control_panel_buttons {
    padding : 5px 4px;
    margin: 0;
}

#volume_controls {
    float: right;
    /*margin-top: -4px;*/
    margin: 7px 7px 7px 0;
    cursor: pointer;
}

#mute_button_holder {
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

#mute_button {
    width: 15px;
    height: 15px;
    left : 0px;
    top: 0px;
    position: relative;
}

#mute_icon {
    left : 0px;
    top: -1px;
    position: relative;
}

#volume_slider {
    width: 85px;
    float: right;
    margin: 3px 0;
    margin-left: 6px;
}

/* Control and Playback panels */
.aimp-panel {
    width: 310px;
    height: 38px;
}

/* Playlists */
#playlists .ui-icon {
    display: inline-block;
    width: 12px;
    height: 13px;
}

#playlists table  tr:not(.control_menu):hover {
    border:1px solid #59b4d4;
    background:#0078a3;
    color:#fff;
    cursor: pointer;
}

#playlists .dataTables_paginate .ui-button {
    padding: 0 4px;
}

#playlists .dataTables_info {
    line-height: 22px;
    width: auto;
    margin-left: 4px;
}

#playlists .dataTables_length,
#playlists .dataTables_filter  {
    width: auto;
}

#playlists .dataTables_length {
    margin-left: 4px;
}

#playlists .paging_full_numbers {
    width: 435px;
    height: auto;
}

/* Playback panel, current track scroller */
#scroll_current_track_container {
    height: 20px;
    overflow: auto;
}

/* Settings dialog */
fieldset {
    padding:0;
    border:0;
    margin-top:25px;
}

h1 {
    font-size: 1.2em;
    margin: .6em 0;
}

/* settings fields holders */
div.fields_to_view {
    margin: 0;
    padding: 0;
    float: left;
}

#fields_hidden, #fields_displayed {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    background: #eee;
    padding: 5px;
    min-width: 140px;
}

#fields_hidden li, #fields_displayed li {
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    min-width: 140px;
}

/* track info labels */
.track_info_label {
    font-weight: bold;
}

.track_info_table_row {
    vertical-align: top;
}

#track_progress_bar {
    margin-left: 5px;
    margin-right: 5px;
}